Still serving as a member of the analytics team, in the first project we laid the groundwork for the second phase. Here we are! Now you'll apply advanced techniques to extract meaningful data, addressing the client's growing needs.

As you know, businesses collect and store data in a particular way. Store 1 wants to store all of its customer information in a table.

| user_id | user_name | user_age | purchase_category | spending_per_category |
| --- | --- | --- | --- | --- |
| '32415' | 'mike', 'reed' | 32 | 'electronics', 'sport', 'books' | 894, 213, 173 |
| '31980' | 'kate', 'morgan' | 24 | 'clothes', 'shoes' | 439, 390 |

In technical terms, a table is simply a nested list containing a sublist for each user.

Store 1 has created such a table for its users. It is stored in the variable "users." Each sublist contains the user ID, first and last name, age, favorite categories, and the amount spent in each category.

- **user_id:** The unique identifier for each user.
- **user_name:** The username.
- **user_age:** The user's age.
- **fav_categories:** The categories of items purchased by the user, such as 'ELECTRONICS', 'SPORTS', 'BOOKS', etc.
- **total_spendings:** The list of integers indicating the amount spent on each of their favorite categories.

In [ ]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES',
                                       'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

# Step 1

In the last task of the first part of this project, you wrote code to:

1. Remove all leading and trailing spaces from names, as well as any underscores.
2. Convert all ages to integers.
3. Separate all first and last names into a sublist.

Let's now make it a function so we can use it to identify any customer. Name your function `clean_user`. It should receive a list with all the customer's information (user_info), as well as two integers. One indicates the index of the customer's first name, and the other is the index of the customer's age in the list. It should return the cleaned list after applying all the above changes. Test it by calling it, passing it the `test_user[]` list, and then display it on the screen.

In [ ]:
# Define your function here
def clean_user(user_info, name_index, age_index):

    # Step 1: Remove leading and trailing spaces and hyphens from the name
    user_name_1 = user_info[name_index].replace('_', ' ').strip()

    # Step 2: Convert the age to an integer
    user_age_1 = int(user_info[age_index])

    # Step 3: Separate the first and last names into a sublist
    user_name_1 = user_name_1.split()

    # Prepare the list with the full user information
    # Replace the original name and age with the cleaned data
    user_info[name_index] = user_name_1
    user_info[age_index] = user_age_1

    # Step 4: Return the list with the cleaned information

    return user_info


# Test the function
test_user = ['32415', ' mike_reed', 32.0, [
    'ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
name_index = 1
age_index = 2

print(clean_user(test_user, name_index, age_index))

['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

********Hint********

To implement the `clean_user` function, perform the following steps:

1. **Trim and Replace:** Use `strip()` to remove leading and trailing spaces from the user's name and `replace('_', ' ')` to remove underscores with spaces.
2. **Convert Age:** Convert the age to an integer using the `int()` function.
3. **Split Name:** Use the `split()` method to separate the first and last names, creating a sublist.

Be sure to modify the `user_info` list that appears by updating the first and last names with the cleaned data before returning the list. Test your function with a sample user to verify that it works correctly.

# Step 2

Notice that all favorite categories are stored in uppercase. Fill a new list called `fav_categories_low` with the same categories, but in lowercase, by iterating over the values ​​in the `fav_categories` list, modifying them, and then adding the new values ​​to the `fav_categories_low` list. As always, display the final result.

In [3]:
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
fav_categories_low = []

fav_categories_low = [category.lower() for category in fav_categories]

print(fav_categories_low)

['electronics', 'sport', 'books']

********Hint********

Create a `for` loop that iterates over the `fav_categories` list. Use the `lower()` method to convert each category to lowercase. Then, use the `append()` method to add the updated values ​​to the `fav_categories_low` list.

# Step 3

Now let's do the same thing, but for each of the company's users. Fill a new list called `users_categories_low` with the same users, but with their categories in lowercase. Iterate over the values ​​in the `users` list, then iterate over the values ​​in `user_categories`, modifying them, and then add the new user values ​​to the `users_categories_low` list. As always, display the final result.

In [ ]:
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES',
                                       'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

users_categories_low = []

for user in users:
    categories_low = [category.lower() for category in user[3]]

    users_categories_low.append(user.copy())
    users_categories_low[-1].pop(3)
    users_categories_low[-1].insert(3, categories_low)

# Now you can print or use the modified list
print(users_categories_low)

[['32415', ' mike_reed ', 32.0, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', 'kate morgan', 24.0, ['clothes', 'books'], [439, 390]], ['32156', ' john doe ', 37.0, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', 'SAMANTHA SMITH', 29.0, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', 'David White', 41.0, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', 'emily brown', 26.0, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ' Maria Garcia', 33.0, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', 'JOSE MARTINEZ', 22.0, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', 'lisa wilson ', 35.0, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', 'James Lee', 28.0, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

********Hint********

Create a `for` loop that iterates over the `users` list. Then create another `for` loop that iterates over the user categories to access and modify the user. Use the `lower()` method to convert each category to lowercase. Then, modify the user by removing the previous category list with `pop()` and inserting the new one in its place with `insert()`. Then, use the `append()` method to add the updated users to the `users_categories_low` list.

# Step 4

Now, let's complete the code for our `clean_user` function to clean up the category:
1. Add another parameter with the category index.
2. Lowercase all names before applying "strip" and "replace."

Next, create a loop and apply your function to the entire list of users, adding your results to the `users_clean` list. Then display it.

In [ ]:
def clean_user(user_info, name_index, age_index, cat_index):

    # Step 1: Make everything lowercase and remove leading and trailing spaces and hyphens from the name
    user_name_1 = user_info[name_index].lower().replace('_', ' ').strip()

    # Step 2: Convert the age to an integer
    user_age_1 = int(user_info[age_index])

    # Step 3: Separate the first and last names into a sublist
    user_name_1 = user_name_1.split()

    # Step 4: Lowercase categories
    categories_low = [category.lower() for category in user_info[cat_index]]

    # Prepare the list with the full user information
    # Replace the original name and age with the cleaned data

    user_info[name_index] = user_name_1
    user_info[age_index] = user_age_1
    user_info[cat_index] = categories_low

    return user_info


users = [
    ['32415', 'mike_reed', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', 'john doe', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES',
                                       'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', 'Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

name_index = 1
age_index = 2
cat_index = 3
users_cleaned = []

for user in users:
    users_cleaned.append(clean_user(user, name_index, age_index, cat_index))


print(users_cleaned)

[['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]], ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

********Hint********

Perform the following steps to implement the `clean_user` function:

1. **Copy and adapt:** Copy the code from your previous `clean_user` function.

2. **Lowercase the name:** Before applying `split()` and `replace()`, apply `lower()` to the customer's name.

3. **Process the categories:** Add a new section to manage the categories. Lowercase each category in the list and store them in a new list.

4. **Run your code:** Make sure the `clean_user` function updates the `user_info` list with the cleaned name, age, and categories. Loop through the `users` list and call the `clean_user` function, passing the user, `name_index`, `age_index`, and `cat_index` to specify the correct indexes for name, age, and categories, respectively.

5. Save each newly cleaned user to the new `users_cleaned` list.

Display the `users_cleaned` list to ensure your code performs the appropriate transformations.

# Step 5

The company wants to know its total revenue and asks you to provide this value.
To calculate the company's revenue, follow these steps:

1. Use `for` to iterate over the `users` list.
2. Extract the list of expenses for each user and add the values.
3. Update the revenue value with the total for each user.

This will give you the company's total revenue, which you'll display on the screen at the end.

In [ ]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, [
             'electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, [
             'clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, [
             'books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, [
             'beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, [
             'clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, [
             'sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, [
             'home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

revenue = 0

for user in users:
    revenue += sum(user[4])

print(revenue)

9189

********Hint********

To extract the list of expenses made by a user, use indexing and assign it to the variable `spendings_list`. Then, use the built-in function to calculate the sum of `spending_list`. Finally, update the value of `revenue` by adding `total_spendings` to it using the augmented assignment.

# Step 6

The company wants to offer discounts to its loyal customers. Customers who make purchases totaling more than $1,500 are considered loyal and will receive a discount.

Our goal is to create a while loop that checks the total amount spent and stops when it reaches it. To simulate new purchases, the variable new_purchase generates a number between 30 and 80 on each iteration of the loop. This represents the amount spent on a new purchase and is what you should add to the total.

Once the target amount is reached and the while loop completes, the final amount will be displayed.

In [ ]:
from random import randint

total_amount_spent = 1280
target_amount = 1500

while total_amount_spent <= target_amount:
    new_purchase = randint(30, 80)  # generate a random number from 30 to 80
    total_amount_spent += new_purchase
    print(
        f"A purchase of {new_purchase} has been added, current amount = {total_amount_spent}.")
else:
    print("The target amount of 1500 has been reached.")
    print(total_amount_spent)

A purchase of 48 has been added, current amount = 1328.
A purchase of 76 has been added, current amount = 1404.
A purchase of 56 has been added, current amount = 1460.
A purchase of 58 has been added, current amount = 1518.
The target amount of 1500 has been reached.
1518

********Hint********

In the `while` loop, you must compare `total_amount_spent` with `target_amount`. During each iteration of the loop, update the `total_amount_spent` variable by adding the value `new_purchase`.

# Step 7

Scroll through the list of users we provided and display the names of customers under the age of 30.

In [ ]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, [
             'electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, [
             'clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, [
             'books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, [
             'beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, [
             'clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, [
             'sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, [
             'home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]


for x in (list(user[1] for user in users if user[2] < 30)):
    print(x[0], x[-1])

kate morgan
samantha smith
emily brown
jose martinez
james lee

********Hint********

Use a for loop to iterate over each row in the table. Use `if` inside a `for` loop to print the username. The `age` field has index 2.

# Step 8

Display the names of users under 30 years old who have accumulated total spending over $1,000.

In [ ]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, [
             'electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, [
             'clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, [
             'books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, [
             'beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, [
             'clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, [
             'sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, [
             'home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

for x in list(user[1] for user in users if user[2] < 30 and sum(user[-1]) > 1000):
    print(x[0], x[-1])

samantha smith
james lee

********Hint********

Use a for loop to iterate over each row in the table. Use an `if` statement inside a `for` loop to print the username. The `age` field has index 2. Use the `sum` function to total the expenses and then check if it is greater than $1,000.

# Step 9

Now we'll display the names and ages of all male and female users who have purchased clothes. Print the names and ages in the same print statement.

In [ ]:
users = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         ['32156', ['john', 'doe'], 37, [
             'electronics', 'home', 'food'], [459, 120, 99]],
         ['32761', ['samantha', 'smith'], 29, [
             'clothes', 'electronics', 'beauty'], [299, 679, 85]],
         ['32984', ['david', 'white'], 41, [
             'books', 'home', 'sport'], [234, 329, 243]],
         ['33001', ['emily', 'brown'], 26, [
             'beauty', 'home', 'food'], [213, 659, 79]],
         ['33767', ['maria', 'garcia'], 33, [
             'clothes', 'food', 'beauty'], [499, 189, 63]],
         ['33912', ['jose', 'martinez'], 22, [
             'sport', 'electronics', 'home'], [259, 549, 109]],
         ['34009', ['lisa', 'wilson'], 35, [
             'home', 'books', 'clothes'], [329, 189, 329]],
         ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

filtered_users = [(user[1], user[2]) for user in users if "clothes" in user[3]]
for name, age in filtered_users:
    print(name[0], name[-1], age)

kate morgan 24
samantha smith 29
maria garcia 33
lisa wilson 35
james lee 28

********Hint********

Use the for loop to iterate over each row in the table. Then, use another loop to check if this user has purchased clothes, and if so, print the name and age within the same print statement, separating them with commas: `print(firstname, age)`.

# Step 10

The address requires a function that provides information about customers, including their names, ages, and total spending, filtered by specific categories. Based on the code snippets above, we'll create a function called `get_client_by_cat` with the following specifications:

1. **Parameters:**
- **users:** a list of user data.
- **id_index:** the index where the customer's ID is stored in the users list.
- **name_index:** the index where the customer's name is stored in the users list.
- **age_index:** the index where the customer's age is stored in the users list.
- **category_index:** the index where the customer's shopping categories are listed.
- **amounts_index:** the index where the amounts spent in each category are stored.
- **filter_category:** a string representing the name of the category to filter customers by.

2. **Output:**
- The function returns a list of sublists. Each sublist contains:
- The customer's ID number.
- A sublist with the customer's first and last name.
- The customer's age.
- An integer representing the total amount spent by the customer.

For example, if you call the function with the following parameters:

```python
get_client_by_cat([
['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]
], 0, 1, 2, 3, 4, 'books')
```

The output will be:

```python
[['32415', ['mike', 'reed'], 32, 1280]]
```

This output shows that the customer with the ID '32415', named Mike Reed, age 32, spent a total of 1280 on the 'books' category and other purchases.

After creating your function, call it with our list of users, the appropriate indexes, and the 'home' category, and display the resulting list.

In [ ]:
def get_client_by_cat(users, id_index, name_index, age_index, cat_index, amount_index, filter_category):

    matching_users = []

    for user in users:

        if filter_category in user[cat_index]:
            matching_users.append(
                [user[id_index], user[name_index], user[age_index], sum(user[amount_index])])

    return matching_users


# La lista de usuarios
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, [
        'clothes', 'electronics', 'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, [
        'sport', 'electronics', 'home'], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, [
        'beauty', 'clothes', 'electronics'], [189, 299, 579]]
]

# Llama a la función con la categoría 'home'

results = get_client_by_cat(users, 0, 1, 2, 3, 4, 'home')

for result in results:
    print(result)

['32156', ['john', 'doe'], 37, 678]
['32984', ['david', 'white'], 41, 806]
['33001', ['emily', 'brown'], 26, 951]
['33912', ['jose', 'martinez'], 22, 917]
['34009', ['lisa', 'wilson'], 35, 847]

********Hint********

Use a for loop to iterate over each user in the list. For each user, check that the desired category ("filter_category") is in their shopping category list. If the category is found, calculate the total amount spent by adding the amounts in the corresponding list. Then, create a sublist with the user's ID, name (as a list of first and last names), age, and total amount spent. Add this sublist to the resulting final list.